*{
  background:#000;
  color: #fff;
}

.titutlo{
  text-align: center;
  padding: 0px 0px 50px 0px;
  font-size: 25px;
}

.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color: red;
    width:350px;
    height:500px;
    border-radius: 25px;
}
.calculadora td button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
}
.calculadora td button:hover{
    background-color: #ccc;
    color: #000;
}
.calculadora td button:active{
  background-color: rgb(41, 41, 41);
  color: #fff;
}
#resultadofinal{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:#ccc;
    overflow-y: scroll;
    color: #4CAF50;
}